:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
.navbar {
background-color: black;
}
.navbar .nav-link {
  color: white;
  border-radius: 6px;
  margin: 25px 8px;
}
.log {
  background-color: red;
  padding: 14px 15px;
  width: 70px;

}

.navbar .nav-link img {
  width: 40px;

}

.main-card{
  background-color: black;
  padding: 1rem 0;
}
.card{
  background-color: rgb(48, 46, 46);
  color: white;
  margin: .4rem 0;
}








.footer-wrapper {
  background-color: rgb(29, 25, 25);
}
.footer-wrapper .main-footer {
  text-align: center;
}
.footer-wrapper .main-footer i {
  padding: 5px 8px;
  margin: 8px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.footer .main-footer img {
  width: 60px;
  margin: 50px;
}

.footer-wrapper .footer-ul img {
  width: 100px;
  border-radius: 3px;
}
.footer-wrapper .footer-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-wrapper .footer-ul li {
  list-style: none;
  padding: 3px 0;
  margin-top: 13px;
}
.footer-wrapper .footer-ul a {
  text-decoration: none;
  color: white;
  transition: .4s linear;
}
.footer .footer-ul a:hover {
  color: red;
  text-decoration: underline;
}
